<div class="row">
  <div class="col-md-8 col-12">
    <h3>Lobby</h3>
    <p>
      Welcome, {{user.username}}
      <img src="data:image/png;base64,iVBORw0KGgoAAA
    ANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
    //8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU
    5ErkJggg==" alt="Red dot" />
    </p>
    <app-info-dash class="nopadding"></app-info-dash>
    
    <!--div class="row">
      <div class="col-md-7 col-12">
        <app-news-carousel></app-news-carousel>
      </div>
      <div class="col-md-5 col-12">
        <app-news-list></app-news-list>
      </div>
    </div-->
    
    
    <!--p>Top score: {{user.topScore}}</p-->
    <app-chatbox [user]="user" [users]="users"></app-chatbox>
  </div>
  <div class="col-md-4 col-12">
    <app-room-list ></app-room-list>
  </div>
</div>

<!--
<h3>Lobby</h3>
<p>
  Welcome, {{user.username}}
  <img src="data:image/png;base64,iVBORw0KGgoAAA
ANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4
//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU
5ErkJggg==" alt="Red dot" />
</p>
<p>
    Top score: {{user.topScore}}
</p>

<div class="row">
  
  <div class="col col-md-8">
    
  </div>
  <div class="col col-md-4">
    
  </div>

</div>
-->