/*
.nav{
    padding: 4px 4px 4px 4px;
}
*/

nav{
    margin-bottom: 0em;
}

.nav-logout{
    border: 2px solid white;
    border-radius: 10px;
}

.nav-logout a {
    text-align: center;
}

.nav-name{
    border: 2px solid #343a40;
    border-radius: 10px;
}