#messages-box{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e689a+8,2091ca+59,2091ca+62,2aa1d8+75,7ec8e8+100 */
}

#users-box{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e689a+8,2091ca+59,2091ca+62,2aa1d8+75,7ec8e8+100 */
    /*background-color: #2b3544; */
}

.only-pad-left {
    padding-left: 1em !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    margin: 0 !important;
    
}

ul {
    padding-left: .3em;
    padding-right: .3em;
    list-style: none;
    overflow-y: auto;
    overflow-x: auto;
}

li:hover{
    background-color: gray;
}

.message{
    height:auto;
    max-height:150%;
    word-wrap: break-word;
    color: white;
}


.username{
    padding-left: .5em;
    color:white;
}
.chatbox-div{
    overflow-y: auto;
}

.chatbox-header{
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}

.userbox-header{
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}