<div class="row" id="chatbox-title">

</div>

<div class="row" (window:resize)="resizeChatBox()" id="chat-container" [style.height.px]="chatboxHeight">
  <div class="col-md-10 col-11 full-height nopadding" id="messages-box">
    <p class="chatbox-header header-dark">Chat</p>
    <div class="chatbox-div" [style.height.px]="chatbodyHeight">
      <ul>
        <li class="message" *ngFor="let msg of chatService.messages">
          {{msg}}
        </li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-2 col-1 full-height nopadding" id="users-box" >
      <p class="userbox-header header-dark">Users</p>
      <div class="chatbox-div full-height">
        <ul>
          <li class="username" *ngFor="let user of users">
            {{user.username}}
          </li>
        </ul>
      </div>
  </div>
  
</div>
<div class="row" id="chat-input">
  <form class="col nopadding">
    <div class="input-group">
      <input 
        #msg
        id="chat-input"
        (keypress)="keyHandler($event)" 
        [(ngModel)]="message" 
        [ngModelOptions]="{standalone: true}" 
        type="text" class="form-control"  
        placeholder="message"
      />
      <span class="input-group-btn">
          <button (click)="sendMessage()" 
          class="btn"
          [ngClass]="messageSendable()? 'btn-success':'btn-outline-secondary'"
          type="button">
            Send!
          </button>
      </span>
    </div>
  </form>
</div>