.news-header{
    text-align: center;
    border-left: white 1px solid;
    border-right: white 1px solid;
    color: white;
    background-color: #2b3544;
}

.news-content{
    padding: 2px 2px 2px 2px;
}