    <button type="button" class="btn btn-primary" (click)="joinRoom(template)">Join!</button>
    
     
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">This room is private:</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="col-md-12">
            
            <div class="form-group">
                <label for="roompassword"> Password: </label>
                <input class="form-control" name="password" [(ngModel)] = "room.password" placeholder="Room Password"/>
            </div>

            <button type="button" class="btn btn-primary"(click)="enterRoom(room, user);modalRef.hide();">Join</button>
            <button type="button" class="btn btn-danger"(click)="modalRef.hide()">Cancel</button>
        
        </form>
      </div>
    </ng-template>