

<!--ul>
  <li *ngFor="let user of users">
    {{user.topScore}} - {{user.username}}  : {{user.status}}
  </li>
</ul-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 col-12">
    </div>
    <div class="col-md-5 col-12">
      <h2 *ngIf="room">
        {{room.name}}
      </h2>
      
       <button class="btn btn-default" (click)="leaveRoom()">Leave Room</button>
      <div id="game-selector">
        <h3>Current Game: {{selectedGame}}</h3>
        <h4>NOTE: You MUST be a room master/creator to start the pong game</h4>
        <div class="btn-group" data-toggle="buttons">
          <label (click)="selectGame('tutorial')" class="btn btn-primary ">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Tutorial
          </label>
          <label (click)="selectGame('pong')" class="btn btn-primary active">
            <input type="radio" name="options" id="option2" autocomplete="off"> Pong
          </label>
          <label (click)="selectGame('webgl-tut')" class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> WebGL-Tutorial
          </label>
          <label (click)="selectGame('webgl-tut2')" class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> WebGL-Tutorial2
          </label>
          <label (click)="selectGame('phaser-states')" class="btn btn-primary">
            <input type="radio" name="options" id="option3" autocomplete="off"> Phaser States
          </label>
          <label class="btn btn-primary disabled">
            <input type="radio" name="options" id="option4" autocomplete="off" disabled> TBD
          </label>
        </div>
      </div>
      
      <app-chatbox *ngIf="room" [user]="user"></app-chatbox>
    </div>
    
    <div class="col-md-6 col-12 game-container rounded">
      <app-tutorial-game *ngIf="selectedGame==='tutorial'"></app-tutorial-game>
      <app-pong-canvas *ngIf="selectedGame==='pong'"></app-pong-canvas>
      <app-webgl-tutorial *ngIf="selectedGame==='webgl-tut'"></app-webgl-tutorial>
      <app-webgl-tut2 *ngIf="selectedGame==='webgl-tut2'"></app-webgl-tut2>
      <app-phaser-states *ngIf="selectedGame==='phaser-ptates'"></app-phaser-states>
    </div>
  </div>
</div>

