<!--div class="row">
  <div class="col-md-5">
    <h2>Users</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let user of users">
         {{user.topScore}} - {{user.username}}  : {{user.status}}
      </li>
    </ul>
    <button (click)="sortUsersByScore(users, 0, users.length-1)">Sort</button>
  </div>
</div-->
<h3>Leaderboard</h3>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Score</th>
      <th>Username</th>
      <th>Status</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.topScore}}</th>
      <td>{{user.username}}</td>
      <td>{{user.status}}</td>
      <td>{{user.location}}</td>
    </tr>

  </tbody>
</table>