/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.background-border{
    border: 1px solid white;
}

.pull-right{
    float: right;
}

body{
    background-color: #212529;
    color: white;
}

.header-dark{
    background-color: #343a40 !important;
}

.modal-content{
    color: black;
}

.border-left{
    border-left: 1px white dashed;
}

.border-top{
    border-top: 1px white dashed;
}

.border-bottom{
    border-bottom: 1px white dashed;
}

.border-right{
    border-right: 1px white dashed;
}