ul {
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: auto;
}

#roomlist-title{
    width:100%;
}

#roomlist-items{
    overflow: auto;
}
table {
    padding: 0;
    overflow: auto;
}