ul {
    padding: 0;
    list-style: none;
    overflow-y: auto;
    overflow-x: auto;
}

#roomlist-title{
    width:100%;
}

#roomlist-items{
    overflow: auto;
}

.btn-right{
    float:right;
    width: 50%;
    height: 100%;
}

.btn-left{
    float:left;
    width: 50%;
    height: 100%;
}

table {
    padding: 0;
    overflow: auto;
}

td{
    color: white;
}
th{
    color:white;
}

.stick{
    
}

.table thead th {
    vertical-align: bottom;
}