<h3>
  Pong
</h3>
<canvas id="pong">
  
</canvas>
<hr/>
<!--button *ngIf="isRoomMaster()" (click)="stopPongGame()">End</button-->
<button class="btn btn-default" *ngIf="isRoomMaster()&&isPlayState()" (click) = "hackToggle()">Fun ;-)</button>
<button class="btn btn-default" *ngIf="isRoomMaster()&&isLobbyState()&&playerSelected()" (click) = "startPlayState()">Play</button>
<button class="btn btn-default" *ngIf="isRoomMaster()&&isEndState()" (click) = "restart()">Restart</button>

<br>
<h3 *ngIf="isRoomMaster()">Server buttons</h3>
<button *ngIf="isRoomMaster()" (click) = "close()">Shutdown</button>
<button *ngIf="isRoomMaster()" (click) = "reInitialize()">Re-initialize</button>
<button *ngIf="isRoomMaster()" (click) = "reSync()">Resync</button>
